/** 
 * Treehouse FSJS Techdegree
 * Random Quote Generator - CSS
 */

 @keyframes fadeInUp {
   from {
     opacity: 0;
     transform: translate3d(0, 10%, 0);
   }

   to {
     opacity: 1;
     transform: translate3d(0, 0, 0);
   }
 }
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*
  Dance animation from 
  https: //codepen.io/ismamz/pen/PGErmj
*/
@keyframes dance {

  from,
  49% {
    transform-origin: -20% 100%;
  }

  50%,
  75%,
  to {
    transform-origin: 150% 100%;
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }
}

html {
  height: 100%;
}
body {
  background-color: #36b55c;
  transition: background 0.2s ease-out;
  color: white;
  font-family: 'Playfair Display', serif;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topbar {
  padding: 0 0 0 30px;
  background: #fff;
  color: #000;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar h1 {
  margin: 0;
  font-weight: normal;
}

.controls {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.controls li {
  border-left: 1px solid #dadada;
  float: right;
}

.container {
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  justify-content: center;
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  z-index: 5;
}

#quote-box {
  padding: 3rem;
  line-height: .5;
  max-width: 800px;
}

.quote {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  margin: 0;
  z-index: 10;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeInUp;
}

.quote:before, .quote:after {
  font-size: 2.5rem;
  line-height: 2rem;
  position: absolute;
}

.quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}

.quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}

.source {
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
  position: relative;
  z-index: 10;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-name: fadeIn;
}

.source:before {
  content: "—";
}

.graphic {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 20;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeIn;
}

.graphic span {
  display: inline-block;
  width: 100px;
  padding: 10px;
  background: white;
}

.graphic img {
  max-width: 100%;
  vertical-align: middle;
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}


.svg-icon {
  display: inline-block;
  vertical-align: middle;
}

.svg-icon svg {
  height: 100%;
  width: 100%;
  
}

#loadQuote,
#pauseQuote,
#playMusic {
  background: none;
  border: 0;
  padding: 0;
  font-size: 1.5rem;
  height: 72px;
  width: 72px;
  position: relative;
  overflow: hidden;
}

#playMusic {
  opacity: 0.4;
}

#loadQuote {
  background: #008cfa;
}

#loadQuote svg {
  fill: white;
}

#pauseQuote-pause-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: rgb(233, 233, 233);
  opacity: 0.15;
}

#loadQuote .svg-icon {
  transition: all 0.2s ease-in-out;
}
#pauseQuote .svg-icon {
  position: relative;
  z-index: 10;
  transition: all 0.2s ease;
}

#pauseQuote .pauseQuote-pause {
  display: none;
}

#pauseQuote.active .pauseQuote-play {
  display: none;
}

#pauseQuote.active .pauseQuote-pause {
  display: block;;
}

#playMusic.active {
  opacity: 1;
}

#playMusic.active .svg-icon {
  position: relative;
  bottom: -5px;
  animation: dance .8s infinite alternate ease-in-out;
}

#playMusic.active path {
  fill: #008cfa;
}

#pauseQuote:hover .svg-icon {
  transform: scale(1.25);
}
#pauseQuote:hover path {
  fill: #008cfa;
}
#loadQuote:hover .svg-icon {
  transform: rotate(-370deg);
}


#loadQuote:focus,
#pauseQuote:focus,
#playMusic:focus {
  outline: none;
}

#music {
  display: none;
}

@media (min-width: 640px) {
  #loadQuote {
    font-size: 2rem;
  }
  .quote {
    font-size: 3rem;
  }
  .quote:before, .quote:after {
    font-size: 5rem;
  }
  .source {
    font-size: 1.25rem;
  }
}
